@model LongshotParlays.Model.NFLTeamStats_OffenseDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>NFLTeamStats_OffenseDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TeamId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeamId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GamesPlayed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GamesPlayed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PointsForced)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PointsForced)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TeamId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
